<?xml version="1.0"?>
<launch>

    <arg name="namespace" default="/ursa_bot" />
    <arg name="world_name" default="worlds/empty_world" />
    <arg name="cmd_timeout" default="0.5"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="1.0" />
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <group ns="$(arg namespace)">

        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" default="$(arg world_name)"/>
        </include>

        <!-- <rosparam file="$(find ursa_bot_control)/config/joint_states.yaml" command="load" ns="/ursa_bot" /> -->
        <!-- <rosparam file="$(find ursa_bot_control)/config/mobile_base.yaml" command="load" ns="/ursa_bot" /> -->
        <!-- <rosparam file="$(find ursa_bot_control)/config/ursa_bot_gazebo.yaml" command="load" ns="/ursa_bot" /> -->
        <!-- <rosparam file="$(find ursa_bot_control)/config/pids.yaml" command="load" ns="/ursa_bot" /> -->

        <!-- Loading the Ursa Bot into Gazebo -->
        <param name="robot_description" command="$(find xacro)/xacro $(find ursa_bot_description)/urdf/ursa_bot.urdf.xacro"/>

        <node name="spawn_vehicle" pkg="gazebo_ros" type="spawn_model"
            args="-urdf -param robot_description -model ursa_bot
                -gazebo_namespace /$(arg namespace)/gazebo
                -x $(arg x) -y $(arg y) -z $(arg z)
                -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

        <!-- Standard Publisher here -->
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="publish_frequency" value="30.0"/>
        </node>

        <node pkg="controller_manager" type="spawner" name="controller_spawner" ns="/ursa_bot"
            args="joint_state_controller ackermann_steering_bot_controller ackermann_steering_bot_hw_sim"
            output="screen" respawn="false" />

    </group>


</launch>