<?xml version="1.0"?>
<launch>
    <!-- Set the model and namespace -->
    <arg name="model" value="$(find acky_bot_description)/urdf/bicycle.urdf.xacro"/>
    <arg name="namespace" default="/ursa_bot" />

    <!-- Load the robot description -->
    <include file="$(find acky_bot_gazebo)/launch/robot_sim.launch" >
        <arg name="model" value="$(arg model)"/>
        <arg name="namespace" value="$(arg namespace)"/>
    </include>
</launch>